{% for page in site.pages %}
    {% if page.title == "Location" %}
        {% assign thispage = page %}
    {% endif %}
{% endfor%}
<section id="{{thispage.title | slugify}}" class="section location">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3 class="section-title">{{ thispage.title }}</h3>
                {{ thispage.content | markdownify }}
            </div>
            <div class="col-sm-9" id="map">
                <iframe class="map_canvas"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.572700181074!2d-73.98221268459389!3d40.74942697932782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25906d62106ed%3A0xd20d74fe06810442!2sScandinavia+House!5e0!3m2!1sen!2sus!4v1497898910843"
                    width="100%" height="280" frameborder="0" style="border:0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</section>