<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body data-spy="scroll">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W58JDD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W58JDD');</script>
<!-- End Google Tag Manager -->
<div id="home"></div>
<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header">

            <!-- logo -->
            <div class="site-branding">
                <a class="logo" href="index.html">
                    <!-- logo image  -->
                    <img src="assets/images/logo.png" alt="Logo">
                    Developer Day - New York City 2017
                </a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div><!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="nav navbar-nav navbar-right">

                <!-- navigation menu -->
                {% assign pages = site.pages | sort:"weight"  %}
                {% for page in pages %}
                    {% if page.title %}
                <li><a href="#{{page.title | slugify}}">{{page.title}}</a></li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    </div><!-- /.container -->
</nav>

<header id="site-header" class="site-header valign-center" style="height:100px;">
    <div class="intro">

        <h2>{{ site.event_dates }} / {{ site.event_city }}</h2>

        <h1>{{ site.title }}</h1>

        <p>{{ site.event_tagline }}</p>

        <a class="btn btn-white inpage" href="#registration">Register Now!</a>

    </div>
</header>

<div id="countdown" class="countdown">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h3 class="section-title">Event Start</h3>
            </div>
            <div class="col-md-10">
                <div id="defaultCountdown"></div>
            </div>
        </div>
    </div>
</div>

{% include about.html %}

{% include speakers.html %}

{% include schedule.html %}

{% include registration.html %}

{% include sponsors.html %}

{% include faq.html %}

{% include location.html %}

{% include conduct.html %}

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="site-info">Organized by <a href="https://www.progress.com/">Progress Software</a></p>
                <ul class="social-block">
                    <li><a href="https://twitter.com/{{site.twitter_username}}"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="https://github.com/{{site.twitter_username}}"><i class="ion-social-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- script -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/countdown/jquery.plugin.min.js"></script>
<script src="bower_components/countdown/jquery.countdown.min.js"></script>
<script src="bower_components/nivo-lightbox/nivo-lightbox.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>